html, body {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  padding-top: 100px;
  display: flex;
  background-color: #EFF4F1;
  box-sizing: border-box;

  @media only screen and (max-width: 1024px) {
    background-color: white;
  }
}

#root {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
